/*.button{
	-fx-background-color: blue;
	-fx-font-size: 12pt;
	-fx-text-fill: lightblue;
	
}

#panel_izq{
	-fx-background-color: lightblue;
}*/

#login_screen {
	-fx-background-color: #8fdb9b;
}

#pane{
    -fx-background-color: #dde3ab;
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.table-view {
    -fx-base: #abdbe3;
    -fx-control-inner-background: #d1ff91;
    -fx-background-color: #8fdb9b;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 20;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #6fe046;
    -fx-border-color: 
        #145426
        #145426
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-text-fill: #010f05;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #010f05;
}

.menu-bar {
    -fx-background-color: derive(#2e2e2c,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-text-fill: #b5b4b3;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: black;
}

#anchorPaneRigth{
	-fx-background-color: #108252;
}

#anchorPaneLeft{
	-fx-background-color: #f0c88d;
}


.text-field {
    -fx-font-size: 8pt;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-size: 15pt;
    -fx-text-fill: #e8bf82;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #e8d1ae;
    -fx-text-fill: black;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #ff9e0d;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: black, black;
    -fx-border-width: 2, 2;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */